body {
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .icon-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #c1d3a1;
    padding: 15px;
    object-fit: contain;
  }
  
  .container {
    max-width: 400px;
    margin-top: 40px;
  }
  
  .btn-custom {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    margin-top: 20px;
    width: 100%;
  }
  
  .card-custom {
    background-color: #9dc46b;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  }